clipboard
clipboardx11
clipboardwayland
CMakeCache.txt
CMakeFiles
/.vscode/*
/dummy1/*
/dummy1
/dummy*
/release
/blah
gmon.out
/cut_test
/copy_test
/Clipboard
/.vscode/
/.idea/
cmake_install.cmake
install_manifest.txt
Makefile
CMakeFiles/