/clipboard
/CMakeCache.txt
/CMakeFiles
/.vscode/*
/dummy1/*
/dummy1
/dummy*
/release
/blah
/gmon.out
/cut_test
/copy_test
/Clipboard
/.vscode/
/.idea/
build/*
cmake_install.cmake
install_manifest.txt
Makefile
CMakeFiles/