/clipboard
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/install_manifest.txt
/.vscode/*
/dummy1/*
/dummy1
/dummy*
/build
/release
/blah
/gmon.out
/cut_test
/copy_test
/Clipboard
/.vscode/
/.idea/
/build/
cmake_install.cmake
Makefile
CMakeFiles/