[Desktop Entry]
Name=Clipboard
Icon=app.getclipboard.Clipboard
GenericName=Clipboard Manager
Exec=sh -c "while true; do cb; sleep 3; clear; done"
Type=Application
Terminal=true
Categories=Utility;Office;Development
Comment=Cut, copy, and paste anything in your terminal