[Desktop Entry]
Name=Clipboard
Icon=app.getclipboard.Clipboard
GenericName=Clipboard Manager
Exec=bash -c "while true; do cb hs; cb; echo -n -e '\033[?25l'; sleep 5; clear; done"
Type=Application
Terminal=true
Categories=Utility;Office;Development
Comment=Cut, copy, and paste anything in your terminal